.container{
    max-width: 600px;
}img.logo{
    margin-left: 620px;
    width: 200px;
}
h1{
    text-align: center;
}
body{
    background-color: whitesmoke;
}
h2{
    text-align: center;
}
img.adrenaline{
    width: 330px;
}
img.aroundthefur{
    width: 330px;
}
img.whitepony{
    width: 330px;
}
img.selftitled{
    width: 330px;
}
img.saturday{
    width: 330px;
}